<super-navbar>
    <super-navbar-title>
      Bienvenida
    </super-navbar-title>
</super-navbar>

<br>
<div class="line"></div>
<div class="blue-line"></div>
<div class="line"></div>

<img src="/images/logo png.png" height="100%" widht="100%" style="opacity:0.2; position:fixed; z-index:-1;"/>
<div class="padding">
	<h4 style="color: #00B5FF"><b>¡¡Hola!! ¡¡Bienvenido a Capilla País 2016!!</b></h4><br>
	<p style="text-align: justify;">Antes de empezar, queremos felicitarlos por aceptar ser parte de este gran desafío. Queremos contarles, que la tarea que se les ha dado va a ser el pilar principal de lo que podría llegar a ser el ambiente que se forme en su zona. En sus mano está una tarea que va mucho más allá de la cocina, los baños, las piezas, la limpieza… Suena una pega muy fácil y simple, y la verdad es que puede serlo, pero está en ustedes ponerle ese toque especial, ese detalle, ese cariño particular que haga que cada uno de los voluntarios que dependen de ustedes se sientan cómodos y acogidos con el grupo.<br><br>
	El jefe de servicio no tiene que ser ningún genio o chef profesional, solo tienen que estar dispuestos a estar al servicio de los demás, tienen que lograr generar ese aire familiar que hace al resto sentirse cómodos en donde están. Es demasiado importante que vallan más allá de sus tareas, que estén motivados con su cargo y el proyecto, y sean capaces de trasmitir eso a los demás voluntarios.<br><br>
	En esta pega los detalles son FUNDAMENTALES. Las sorpresas chicas pueden cambiar mucho el ánimo de los voluntarios durante el día. Así que, anímense a innovar y a jugársela por esto, para que construyamos más que una capilla: una comunidad, formemos un grupo, formemos lazos con quienes nos estarán acompañando estos 10 días.<br><br>
	¡Mucho ánimo en lo que se vienen!<br><br>
	<b style="color: #00B5FF">Insumos Capilla País 2016</b>
	</p>
</div>

<br>
<div class="line"></div>
<div class="blue-line"></div>
<div class="line"></div>
