<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Manual
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
  <img src="/images/logo png.png" width="100%" />
  	<div class="row">
  		<div class="col">
  			<super-navigate view-id="bienvenida"><button class="button button-block button-calm" style="text-align:center">
			  Bienvenida
			</button></super-navigate>
    	</div>
    	<div class="col">
  			<super-navigate location="oraciones#index"><button class="button button-block button-calm" style="text-align:center">
			  Oraciones
			</button></super-navigate>
    	</div>
    </div>
    <div class="row">
  		<div class="col">
  			<super-navigate view-id="comidas"><button class="button button-block button-calm" style="text-align:center">
			  Comidas
			</button></super-navigate>
    	</div>
    	<div class="col">
  			<super-navigate location="juegos#index"><button class="button button-block button-calm" style="text-align:center">
			  Juegos
			</button></super-navigate>
    	</div>
    </div>
    <div class="row">
  		<div class="col">
  			<super-navigate view-id="salud"><button class="button button-block button-calm" style="text-align:center">
			  Salud
			</button></super-navigate>
    	</div>
    	<div class="col">
  			<super-navigate view-id="ideas"><button class="button button-block button-calm" style="text-align:center">
			  Ideas
			</button></super-navigate>
    	</div>
    </div>
  </div>

</div>