<div>
  <super-navbar>
    <super-navbar-title>
      Ideas Entretenidas
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">

    <br>
    <div class="line"></div>
    <div class="blue-line"></div>
    <div class="line"></div>
    <br>

    <div class="padding">
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Hagan fiestas temáticas: italiano, disfraces, elegante…</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Ordenar las mesas de distintas formas ya hace un cambio: mesa te club, mesa en círculo, todas separadas…</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Celebren demasiado los cumpleaños! Averígüense si alguien de la zona va a estar de cumpleaños antes para que lleven cosas entretenidas para poder hacer ese día. Cántenle en todas las comidas, pueden hacer una torta, decorar… Estas cosas no solo alegran mucho al cumpleañero!</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Desayuno a la cama. No es tan de loco y cambia mucho el ánimo de levantada.</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Hacer alguna broma en las noches también puede ser chistoso, pero que no se exceda la talla, acuérdense que al día siguiente tienen que rendir.</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Cosas que no se pueden quedar:<br>&nbsp&nbsp&nbsp&nbsp • Pelota de futbol<br>&nbsp&nbsp&nbsp&nbsp • Guitarra<br>&nbsp&nbsp&nbsp&nbsp • Radio/parlante <br>&nbsp&nbsp&nbsp&nbsp • Linterna</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Decorar el comedor o algún espacio donde siempre están nunca está demás. Esto puede incluir carteles con los horarios y las tareas.</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp No dejar cosas de valor en habitaciones abiertas. “La ocasión hace al ladrón”, ahórrense malos ratos y tengan mucho ojo con sus cosas</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Tener en una caja todas las cosas de aseo para lo baños, para evitar que se mezclen con las de la cocina o se pierdan</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Dejar hartos basureros por todos lados les ayuda con el tema de la limpieza, sobretodo para las colillas de cigarro</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Traten de que los juegos no sean eternos, al final también es rico conversar o acostarse temprano</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
      <div>
          <p style="text-align:justify;"><i class="icon super-android-happy"></i>&nbsp&nbsp Tengan ojo con el correo de las brujas, hay cosas que no aportan y se pueden filtrar</p>
          <br>
          <div class="line"></div>
          <br>
      </div>
    </div>

    <div class="line"></div>
    <div class="blue-line"></div>
    <div class="line"></div>
    <br>
  </div>
</div>