<div>
  <super-navbar>
    <super-navbar-title>
      Ideas
    </super-navbar-title>
  </super-navbar>

  <br>
  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>

  <div class="padding">
  <br>
    <div class="row">
      <div class="col">
        <p style="text-align:center; color:#00B5FF;"><super-navigate location="idea#index"><img src="/images/idea.png" height="120px" width="120px"><br>
        <b>Ideas Útiles</b></p>
      </super-navigate>
      </div>
      <div class="col">
        <p style="text-align:center; color:#00B5FF;"><super-navigate location="idea#entretenidas"><img src="/images/entretenida.jpg" height="120px" width="120px"><br>
        <b>Ideas Entretenidas</b></p>
      </super-navigate>
      </div>
    </div>
  </div>

  <br>
  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>

  <img src="/images/ideador.png" height="120px" style="position:fixed; bottom:10px; right:10px;"/>

</div>