<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Comidas
    </super-navbar-title>
  </super-navbar>

  <br>
  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>

  <div class="padding">
  <br>
    <div class="row">
      <div class="col">
        <p style="text-align:center; color:#00B5FF;"><super-navigate location="comida#index"><img src="/images/meal.png" height="120px" width="120px"><br>
        <b>Platos</b></p>
      </super-navigate>
      </div>
      <div class="col">
        <p style="text-align:center; color:#00B5FF;"><super-navigate location="postre#index"><img src="/images/postre.png" height="120px" width="120px"><br>
        <b>Postres</b></p>
      </super-navigate>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col">
        <p style="text-align:center; color:#00B5FF;"><super-navigate location="comida#porcion"><img src="/images/porciones.png" height="120px" width="120px"><br>
        <b>Porciones</b></p>
      </super-navigate>
      </div>
    </div>
  </div>

  <br>
  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>

  <img src="/images/cocinero.png" height="100px" style="position:fixed; bottom:10px; right:10px;"/>

</div>
