
  <super-navbar>
    <super-navbar-title>
      Porciones
    </super-navbar-title>
  </super-navbar>

  <br>
  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>

  <div class="padding">
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Arroz</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">1 kg -> 10-12 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Tallarines</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">450 gr -> 3-5 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Puré en Polvo</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">25 grs -> 8 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Atún</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">Lata chica -> 2-3 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Café</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">Tarro 170 gr ->85 porciones</p>
      </div>
    </div>

  </div>


  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>
  <br>