
  <super-navbar>
    <super-navbar-title>
      Porciones
    </super-navbar-title>
  </super-navbar>

  <br>
  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>

  <div class="padding">
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Arroz</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">1 kg -> 10-12 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Tallarines</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">450 gr -> 3-5 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Puré en Polvo</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">25 grs -> 8 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Atún</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">Lata chica -> 2-3 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Café</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">Tarro 170 gr -> 85 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Salsa de Tomate</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">200 grs -> 6 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Leche en Polvo</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">1 kg -> 10-12 personas</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Sopas</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">Sobre grande -> 4-5 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Cremas</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">200 cc -> 8 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Jugo en Polvo</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">8 Lt -> 40 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Conservas</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">850 gr -> 5-7 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Papas</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">1 Kg -> 4-6 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Porotos Granados</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">1 Kg -> 12-16 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Lentejas</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">1 Kg -> 8-12 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Mermelada</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">500 grs -> 10-12 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Aceite (para ensalada)</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">1 Lt -> 100 porciones</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col col-33">
        <p style="text-align:left; color:#00B5FF;">
        <b>Aceite (para freír)</b>
        </p>
      </div>
      <div class="col col-67">
        <p style="text-align:left;">1 Lt -> 20 porciones</p>
      </div>
    </div>


  </div>


  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>
  <br>