<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">nombre</span>
    <input type="text" ng-model="salud['nombre']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">características</span>
    <input type="text" ng-model="salud['características']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">imagen</span>
    <input type="text" ng-model="salud['imagen']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
