<div>
  <super-navbar>
    <super-navbar-title>
      Botiquín
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">

    <br>
    <div class="line"></div>
    <div class="blue-line"></div>
    <div class="line"></div>
    <br>

  <ul class="list">

    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Paracetamol</b></font>
            <p><b>Utilizar en caso de:</b> Fiebre, resfrío y/o dolor de cabeza<br>
            <b>Dosis:</b> 1 cada 6 hrs</p>
        </div>
      </div>
    </a>
    <div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Antinflamatorio/Analgésicos</b></font>
            <p><b>Utilizar en caso de:</b> Dolor, inflamación o fiebre<br>
            <b>Dosis:</b> 1 cada 6 hrs<br>
            <b>Tipos:</b> Ibuprofeno, Ketoprofeno, Aspirina, Diclofenaco, Naproxeno</p>
        </div>
      </div>
    </a>
    <div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Antidiarreicos</b></font>
            <p><b>Utilizar en caso de:</b> Fiebre NO USAR<br>
            <b>Dosis:</b> 16 mg al día por máximo 2 días<br>
            <b>Tipos:</b> Loperamida</p>
        </div>
      </div>
    </a>
    <div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Anti espasmódico</b></font>
            <p><b>Utilizar en caso de:</b> Dolor de guata, nauseas y/o vómito<br>
            <b>Dosis:</b> 1 o 2 veces al día<br>
            <b>Tipos:</b> Viadil</p>
        </div>
      </div>
    </a>
    <div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Anti histamínico</b></font>
            <p><b>Utilizar en caso de:</b> Alergias (rinitis,urticaria,estornudo,picazón deojos,nariz y/o garganta,alergia picaduras,hiedra venenosa y ronchas por alimentos o cosméticos)<br>
            <b>Dosis:</b> 1 vez al día, ojalá en la mañana porque pueden dar sueño<br>
            <b>Tipos:</b> Loratadina, desloratadina</p>
        </div>
      </div>
    </a>
    <div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Acido mefenámico</b></font>
            <p><b>Utilizar en caso de:</b> Dolor de ovarios</p>
        </div>
      </div>
    </a>
    <div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Gasa</b></font>
        </div>
      </div>
    </a>
    <div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Scotch</b></font>
        </div>
      </div>
    </a><div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Alcohol al 70%</b></font>
        </div>
      </div>
    </a><div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Povidona</b></font>
        </div>
      </div>
    </a><div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Vendas</b></font>
        </div>
      </div>
    </a><div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Parches curitas de distintos portes</b></font>
        </div>
      </div>
    </a><div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>After Sun</b></font>
        </div>
      </div>
    </a><div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Bloqueador</b></font>
        </div>
      </div>
    </a><div class="line"></div>
    <br>
    <a>
      <div class="row">
        <div class="col col-20">
            <img src="/images/botiquin.png" height="50" align="left"></img>
        </div>
        <div class="col col-80">
            <font style="color:#00B5FF;" size="3.95"><b>Calorub</b></font>
        </div>
      </div>
    </a>
  
 
  </ul>

    <div class="line"></div>
    <div class="blue-line"></div>
    <div class="line"></div>
    <br>
  </div>
</div>