<div>
  <super-navbar>
    <super-navbar-title>
      Salud
    </super-navbar-title>
  </super-navbar>

  <br>
  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>

  <div class="padding">
  <br>
    <div class="row">
      <div class="col">
        <p style="text-align:center; color:#00B5FF;"><super-navigate location="salud#index"><img src="/images/enfermo.png" height="120px" width="120px"><br>
        <b>Enfermedades</b></p>
      </super-navigate>
      </div>
      <div class="col">
        <p style="text-align:center; color:#00B5FF;"><super-navigate location="salud#botiquin"><img src="/images/botiq.png" height="120px" width="120px"><br>
        <b>Botiquín</b></p>
      </super-navigate>
      </div>
    </div>
  </div>

  <br>
  <div class="line"></div>
  <div class="blue-line"></div>
  <div class="line"></div>

  <img src="/images/efermera.png" height="120px" style="position:fixed; bottom:10px; right:10px;"/>

</div>