<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Enfermedad
    </super-navbar-title>
  </super-navbar>


    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

      <div class="list card">
        <div class="item item-image">
          <img src="{{salud['imagen']}}"> 
        </div>
        <div class="padding">
          <br>
          <b><font style="color: #00B5FF;" size="5" ng-bind="salud['nombre']"></font></b>
          <br>
          <div class="line"></div>
          <br>

          <p ng-repeat="enf in enfermedades" style="text-align: justify;">
            <span ng-repeat="frase in sub_frases[$index]"><span ng-bind="frase"></span><br></span>
            <br> 
          </p>
           
        </div>
      </div>

    </div>

</div>
