<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="postre['nombre']"></h2>
      
      
      
       <p>cantidad: <span ng-bind="postre['cantidad']"></span></p> 
      
       <p>ingredientes: <span ng-bind="postre['ingredientes']"></span></p> 
      
       <p>preparacion: <span ng-bind="postre['preparacion']"></span></p> 
      
       <p>imagen: <span ng-bind="postre['imagen']"></span></p> 
      


      <super-modal-show location="postre#edit?id={{ postre.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(postre.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
