<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Postres
    </super-navbar-title>
  </super-navbar>


    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

      <div class="list card">
        <div class="item item-image">
          <img src="{{postre['imagen']}}"> 
        </div>
        <div class="padding">
          <br>
          <b><font style="color: #00B5FF;" size="5" ng-bind="postre['nombre']"></font></b>
          <font>&nbsp&nbsp<span ng-bind="postre['cantidad']"></span></font> 
          <br>
          <div class="line"></div>
          <br>

          <p><b style="color: #00B5FF;">Ingredientes</b><br><div ng-repeat="ing in ingredientes" style="text-align: justify;"><span ng-bind="ing"></span></div></p>
          <br>
          <p><b style="color: #00B5FF;">Preparación</b><br><div ng-repeat="prep in preparaciones" style="text-align: justify;"><span ng-bind="prep"></span></div></p>
           
        </div>
      </div>


      <!--super-modal-show location="postre#edit?id={{ postre.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(postre.id)" class="button button-block button-negative">
        Remove
      </button-->

  </div>
</div>
