<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Oración
    </super-navbar-title>
  </super-navbar>

  
  <img src="/images/logo png.png" height="100px" style="position:absolute; top:10px; right:10px;"/>
  <div style="height:70px;"></div>
  
  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

      <b><h4 style="color: #00B5FF" ng-bind="oraciones['name']"></h4></b>
      <div class="line"></div>
      <br>
      <p ng-repeat="orac in las_oraciones" style="text-align: center;">
        <span ng-repeat="frase in sub_frases[$index]"><span ng-bind="frase"></span><br></span>
        <br> 
      </p>
      
    </div>
  </div>
</div>
